$light: #fbf7f6;
$light-secondary: #b0adac;
$dark: #0c1813;
$dark-secondary: #242f2b;
$accent: #82c792;

$spacing: 15px;

.home {
  min-height: 100vh;
  background: $dark;
  color: $light;

  display: flex;
  flex-direction: column;

  & > * {
    padding: $spacing;
  }

  a {
    color: $light;
    text-decoration: none;
    transition: color 150ms ease;

    & > svg {
      transform: translateY(2.5px);
    }

    &:hover {
      color: $accent;
    }
  }

  .home__main {
    flex-grow: 1;

    margin-top: calc($spacing * 12);
    margin-bottom: calc($spacing * 12);

    display: flex;
    justify-content: center;

    .main__wrapper {
      max-width: 600px;
      width: 100%;
      text-align: center;

      .wrapper__logo {
        background: url("/logo.svg") no-repeat;
        background-size: contain;
        background-position: center;
        height: 100px;
        margin-bottom: calc($spacing * 4);
      }

      .wrapper__search {
        position: relative;
        border-radius: 5px;
        border: 1px solid transparent;
        background: $dark-secondary;

        display: flex;
        align-items: center;

        & > * {
          padding: $spacing;
        }

        &:has(.search__input:focus) {
          border-color: $accent;
        }

        .search__input {
          flex-grow: 1;

          border: none;
          background: none;
          outline: none;
          min-width: 0;

          color: $light;
        }

        .search__go {
          background: none;
          border: none;
          outline: none;

          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          color: $accent;
          cursor: pointer;
          transition: background 150ms ease;

          &:hover {
            background: transparentize($accent, 0.75);
          }
        }
      }
    }
  }

  .home__footer {
    background: $dark-secondary;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing;
  }
}
