$light: #fbf7f6;
$light-secondary: #b0adac;
$dark: #0c1813;
$dark-secondary: #242f2b;
$accent: #82c792;

$spacing: 15px;

.home {
  min-height: 100vh;
  background: $dark;
  color: $light;

  display: flex;
  flex-direction: column;

  & > * {
    padding: $spacing;
  }

  a {
    color: $light;
    text-decoration: none;
    transition: color 150ms ease;

    & > svg {
      transform: translateY(2.5px);
    }

    &:hover {
      color: $accent;
    }
  }

  .home__main {
    flex-grow: 1;
  }

  .home__footer {
    background: $dark-secondary;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing;
  }
}
